.HeaderMobile {
  width: 100%;
  padding-top: 1.5rem;
  border-bottom: 1px solid #979696;
  display: none;
}

@media (max-width: 800px) {
  .HeaderMobile {
    display: block;
  }
}

.HeaderMobile ul {
  display: flex;
  list-style: none;
  margin: auto;
  justify-content: center;
}

@media (max-width: 1250px) {
  .HeaderMobile ul {
    margin-left: 15rem;
  }
}
@media (max-width: 800px) {
  .HeaderMobile ul {
    margin-left: 0;
  }
}

.HeaderMobile button {
  margin: 0 1rem;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.HeaderMobile button p {
  margin-left: 0.4rem;
}
.Count {
  border-radius: 50%;
  background-color: #d3cbcb;
  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;
}
