.Repo {
  border-bottom: 1px solid #969696;
  display: flex;
  align-items: center;
  line-height: 0;
  margin-top: 2rem;
  padding: 0 2rem;
}

.RepoName {
  color: #4242e3;
  margin-right: 0.7rem;
}

.Flex {
  display: flex;
  align-items: center;
}

.Public {
  border-radius: 10rem;
  border: 1px solid #696969;
  padding: 0.4rem 0.5rem;
  font-size: 0.7rem;
  color: #666565;
  font-size: bold;
}

.Desc {
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

.Language {
  margin-right: 1rem;
}

.Star {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.Details {
  display: flex;
  align-items: center;
  color: #555454;
}

.StarBtn {
  margin-left: auto;
  align-self: flex-start;
  margin-top: 0.7rem;
}
.StarBtn button {
  display: flex;
  align-items: center;
  padding: .2rem .4rem;
  border: 1px solid #979393;
  border-radius: 7px;
  /* background-color: ; */
}

.StarBtn span {
  border-right: 1px solid #605f5f;
  height: 100%;
  padding-right: .7rem;
  margin-left: .2rem;
  margin-right: .4rem;
}
