.UserInfo {
  flex: 0 0 30%;
  padding-left: 4rem;
}

@media (max-width: 1300px) {
  .UserInfo {
    padding-left: 2rem;
  }
}
@media (max-width: 800px) {
  .UserInfo {
    flex: 0 0 90%;
    padding-left: 0;
  }
}

.UserInfo button {
  padding: 0.5rem 9rem;
  outline: none;
  border: 1px solid #a6a5a5;
  background-color: #eae9e9;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
@media (max-width: 800px) {
  .UserInfo button {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


.ImageContainer {
  margin-top: -2rem;
}
@media (max-width: 800px) {
  .ImageContainer {
    margin-top: 1rem;
  }
}


.ProfilePic {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-position: center;
}

@media (max-width: 800px) {
  .ProfilePic {
    margin-right: 1rem;
  }
}
@media (max-width: 800px) {
  .ProfilePic {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 800px) {
  .Res {
    display: flex;
    align-items: center;
  }
}

.UserName {
  color: #a9a9a9;
  margin-bottom: 1rem;
}

.FollowersInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.FollowersInfo span {
  font-weight: bold;
  margin: 0 0.3rem;
  color: black;
}
.FollowersInfo p {
  color: #8e8d8d;
}
.Flex {
  display: flex;
  align-items: center;
}

.Bio {
  margin-bottom: 1rem;
}

.Icon {
  margin-right: 0.5rem;
}
